# Arquivos de compilação e logs
bin/
obj/
*.log

# Arquivos temporários
*.tmp

# Arquivos específicos do Visual Studio
.vs/

# Arquivos de configuração do ambiente de desenvolvimento local
*.suo
*.user
*.sln.docstates

# Arquivos de dependências NuGet
packages/

# Arquivos específicos do projeto .NET
*.dll
*.pdb

# Arquivos de cache de build do .NET Core
project.lock.json
project.fragment.lock.json
*.dll
*.pdb
*.cache
/.dotnet

# Arquivos específicos do Node.js
node_modules/

# Arquivos de build específicos do front-end
/dist/
/build/

# Arquivos de variáveis de ambiente local
.env

# Logs e arquivos de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de backup
*.bak
